.Editor {
    height: 100%;
    display: grid;
    grid-template-rows: var(--title-size) auto;
}

.Editor .editor-title {
    display: flex;
    align-items: center;
    padding-left: 1em;
    font-size: var(--font-size-title);
}

.Editor .ace-editor {
    font-family: monospace !important;
    height: 100% !important;
    width: 100% !important;
    overflow: auto;
}

.Editor .ace-editor * {
    font-family: monospace !important;
}