.Preview {
    display: grid;
    grid-template-rows: var(--title-size) auto;
    overflow: hidden;
}

.Preview .preview-title {
    background: #DD2D4A;
    display: flex;
    align-items: center;
    padding: 0 1em;
    font-size: var(--font-size-title);
}

.Preview .preview-title button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: .5em;
    margin-left: auto;
    border: none;
    background: #33333380;
    color: whitesmoke;
    border-radius: .5em;
    padding: 0 .9em;
    font-size: var(--font-size-body);
    height: 80%;
    width: 4rem;
    transition: all .2s ease-out;
}

.Preview .preview-title button:hover {
    box-shadow: 0 0 1em 0 whitesmoke;
}

.Preview .preview-error {
    color: red;
}

.Preview .preview-error,
.Preview .preview-default-message {
    padding: 1em;
    border-radius: 1em;
    margin: 1em;
}

.Preview .preview-error {
    background-color: palevioletred;
    color: whitesmoke;
}

.Preview .preview-default-message {
    box-shadow: 0 .75em 1.2em .2em #a1a1a1;
}

.Preview .preview-render {
    height: 100%;
    overflow: auto;
}

.loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.5em;
    color: #333;
    gap: .5em;
  }
  
  .loading-spinner::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-left-color: #333;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }